* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.profile{
  height: 100vh;
  background: url("bg.jpg") center / cover no-repeat;
  position: relative;
  color: white;
}

nav {
  position: absolute;
  top: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  z-index: 2;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.content{
 position: absolute;
 top: 50%;
 left: 42.5%;
 text-align: center;
 z-index: 3;
}

.links{
 position: absolute;
 top: 60%;
 left: 43.5%;
 display: flex;
 gap: 40px;
 color: white;
 
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}